.main {
  margin-top: 70px;
}

.block {
  width: 75%;
  margin: 0 auto;
  background-color: #f2f2f2;
  opacity: 80%;
  border: 1px solid #ccc;
}

.table {
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(74, 144, 226);
  background-color: transparent;
  border-width: 2px;
  opacity: 1;
  height: 160px;
  overflow: hidden;
  font-size: 0;
}

.block hr[type="line"] {
  height: 1px;
  border: none;
  border-top: 1px dashed #999;
  margin-top: 2px;
}

.mytitle {
  margin: 0 auto;
}

.contain {
  margin: 6px;
}

.mycontent {
  font-size: 18px;
  margin-top: 5px;
}

.a1 {
  margin: auto;
  height: inherit;
  width: 25%;
  display: inline-block;
  background-color: #222;
}

.a2 {
  margin: auto;
  height: inherit;
  width: 25%;
  display: inline-block;
  background-color: #444;
}

.a3 {
  margin: auto;
  height: inherit;
  width: 25%;
  display: inline-block;
  background-color: #666;
}

.a4 {
  margin: auto;
  height: inherit;
  width: 25%;
  display: inline-block;
  background-color: #888;
}

footer {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .main {
    margin-top: 220px;
  }

  .block {
    width: 95%;
    margin: 0 auto;
    background-color: #eee;
    height: 100%;
  }

  .table {
    height: 320px;
  }
}
