.main {
  margin-top: 70px;
}

.block {
  width: 75%;
  margin: 0 auto;
  background-color: #f2f2f2;
  opacity: 80%;
  border: 1px solid #ccc;
}

.table {
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(74, 144, 226);
  background-color: transparent;
  border-width: 2px;
  opacity: 1;
  height: 120px;
  overflow: hidden;
  font-size: 0;
}

.block hr[type="line"] {
  height: 1px;
  border: none;
  border-top: 1px dashed #999;
  margin-top: 2px;
}

.mytitle {
  margin: 0 auto;
}

.contain {
  margin: 6px;
}

.mycontent {
  font-size: 18px;
  margin-top: 5px;
}

.a1 {
  margin: auto;
  height: inherit;
  width: 25%;
  display: inline-block;
  /* background-color: rgb(30%, 30%, 30%, 1); */
  vertical-align: top;
}

.a2 {
  margin: auto;
  height: inherit;
  width: 25%;
  display: inline-block;
  /* background-color: rgb(50%, 50%, 50%, 1); */
  vertical-align: top;
}

.a3 {
  margin: auto;
  height: inherit;
  width: 25%;
  display: inline-block;
  background-color: rgb(70%, 70%, 70%, 1);
  vertical-align: top;
}

.a4 {
  margin: auto;
  height: inherit;
  width: 25%;
  display: inline-block;
  background-color: rgb(90%, 90%, 90%, 1);
  vertical-align: top;
}

footer {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .main {
    margin-top: 220px;
  }

  .block {
    width: 95%;
    margin: 0 auto;
    background-color: #eee;
    height: 100%;
  }

  .table {
    height: 320px;
  }
}

[type=datatitle] {
  padding-left: 10px;
  font-size: 17px;
  font-family: "微软雅黑";
  overflow: hidden;
  height: 32px;
  line-height: 32px;
  font-weight: 700;
  /* transform: translateY(30px); */
  vertical-align: middle;
}

.data1 {
  white-space: nowrap;
  font-size: 32px;
  color: rgb(85, 85, 85);
}

.ren {
  white-space: nowrap;
  font-size: 19px;
  color: rgb(85, 85, 85);
  margin-left: 5px;
}

.datapeople {
  text-align: center;
}
