/* 在顶部导航栏中添加黑色背景颜色 */
.topnav {
    overflow: hidden;
    width: 100%;
    background-color: #17BEFD;
}

/* 设置导航栏的链接样式 */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

/* 在悬停时更改链接的颜色 */
.topnav a:hover {
    background-color: #29A9FD;
    color: white;
}

/* 突出显示当前选中的元素 */
.topnav a.active {
    background-color: #5872FD;
    color: white;
    padding: 8px 14px;
}

/* 设置导航栏的搜索框样式 */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

/* 当屏幕宽度小于 600px 时，垂直堆叠显示菜单选项和搜索框 */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}
*{margin: 0;padding: 0;}
     .topnav{
         position: fixed;
         top: 0;
     }
